# the dist file could make some problems
# dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

.idea/

# Eclipse
.classpath
.project
.settings/
.metadata/
Servers/
*.class
*.classpath
/target/
/bin/
.springBeans

# intellij
.apt_generated
.apt_generated_tests

root-context.xml


# Mac
.DS_Store
oracle/