@charset "UTF-8";
    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    body{
        font-family: GangwonEdu_OTFBoldA;
        box-sizing: border-box;
        padding:0;
        margin:0;
    }