<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
            <typeAlias alias="noticeDto" type="com.finalpj.nbw.notice.domain.Notice"/>
            <typeAlias alias="searchCondition" type="com.finalpj.nbw.notice.domain.SearchCondition"/>
            <typeAlias alias="eventDto" type="com.finalpj.nbw.event.domain.Event"/>
        </typeAliases>
</configuration>