<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
            <typeAlias alias="noticeDto" type="com.finalpj.nbw.notice.domain.Notice"/>
            <typeAlias alias="ntCommentDto" type="com.finalpj.nbw.notice.domain.NtComment"/>
            <typeAlias alias="couponDto" type="com.finalpj.nbw.coupon.domain.Coupon"/>
            <typeAlias alias="cartProductDto" type="com.finalpj.nbw.payment.domain.CartProduct"/>
            <typeAlias alias="paymentDto" type="com.finalpj.nbw.payment.domain.Payment"/>
            <typeAlias alias="orderListDto" type="com.finalpj.nbw.payment.domain.OrderList"/>
            <typeAlias alias="searchCondition" type="com.finalpj.nbw.notice.domain.SearchCondition"/>
            <typeAlias alias="member" type="com.finalpj.nbw.member.domain.Member"/>
            <typeAlias alias="eventDto" type="com.finalpj.nbw.event.domain.Event"/>
            <typeAlias alias="eventMemberDto" type="com.finalpj.nbw.event.domain.EventMember"/>
            <typeAlias alias="eventCommentDto" type="com.finalpj.nbw.event.domain.EventComment"/>
            <typeAlias alias="product" type="com.finalpj.nbw.product.domain.Product"/>
            <typeAlias alias="categoryFilter" type="com.finalpj.nbw.product.domain.CategoryFilter"/>
            <typeAlias alias="criteria" type="com.finalpj.nbw.product.domain.Criteria"/>
            <typeAlias alias="find" type="com.finalpj.nbw.login.domain.Find"/>
            <typeAlias alias="eventSearchCondition" type="com.finalpj.nbw.event.domain.EventSearchCondition"/>
            <typeAlias alias="review" type="com.finalpj.nbw.product.domain.Review"/>
            <typeAlias alias="qnaDto" type="com.finalpj.nbw.qna.domain.Qna"/>
            <typeAlias alias="answerDto" type="com.finalpj.nbw.qna.domain.Answer"/>
        </typeAliases>
</configuration>