<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
            <typeAlias alias="noticeDto" type="com.finalpj.nbw.notice.domain.Notice"/>
            <typeAlias alias="ntCommentDto" type="com.finalpj.nbw.notice.domain.NtComment"/>
            <typeAlias alias="searchCondition" type="com.finalpj.nbw.notice.domain.SearchCondition"/>
            <typeAlias alias="member" type="com.finalpj.nbw.member.domain.Member"/>
            <typeAlias alias="eventDto" type="com.finalpj.nbw.event.domain.Event"/>
            <typeAlias alias="eventCommentDto" type="com.finalpj.nbw.event.domain.EventComment"/>
            <typeAlias alias="product" type="com.finalpj.nbw.product.domain.Product"/>
            <typeAlias alias="find" type="com.finalpj.nbw.login.dto.FindDto"/>
            <typeAlias alias="eventCommentDto" type="com.finalpj.nbw.event.domain.EventComment"/>
            <typeAlias alias="eventSearchCondition" type="com.finalpj.nbw.event.domain.EventSearchCondition"/>
        </typeAliases>
</configuration>