<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.nbw.event.dao.EventCommentMapper">
    <!-- ============================= 대댓글 리스트 조회 =================================-->
    <select id="selectCommentList" parameterType="int" resultType="eventCommentDto">
        SELECT evc_no, ev_no, NVL(evc_pcno,evc_no) as evc_pcno, evc_comment, evc_commenter, evc_cdate, evc_update
        FROM tb_eventcomment
        WHERE ev_no = #{ev_no}
        ORDER BY  evc_pcno asc, evc_no asc
    </select>
    <!-- =========================== 댓글 한 건 조회 ==============================-->
    <select id="selectComment" parameterType="int" resultType="eventCommentDto">
        SELECT evc_no, ev_no, evc_pcno, evc_comment, evc_commenter, evc_cdate, evc_update
        FROM tb_eventcomment
        WHERE evc_no = #{evc_no}
    </select>
    <!-- ============================= 댓글 등록 =================================-->
    <insert id="insertComment" parameterType="eventCommentDto">
        INSERT INTO tb_eventcomment
            (evc_no, ev_no, evc_pcno, evc_comment, evc_commenter)
        VALUES
            (SEQ_NTC_NO.NEXTVAL,#{ev_no}, #{evc_pcno, jdbcType=INTEGER}, #{evc_comment}, #{evc_commenter})
    </insert>
    <!-- ============================= 공지글 댓글 모두 삭제 ==============================-->
    <delete id="deleteCommentList" parameterType="int">
        DELETE FROM tb_eventcomment
        WHERE  ev_no = #{ev_no}
    </delete>
    <!-- ============================ 댓글 개수 조회 ===============================-->
    <select id="selectCommentCnt" parameterType="int" resultType="int">
        SELECT count(*) FROM tb_eventcomment
        WHERE  ev_no = #{ev_no}
    </select>

    <!-- ====================== 댓글 삭제(일치하는 작성자 및 대댓글 있으면 삭제) =========================-->
    <delete id="deleteComment" parameterType="java.util.Map">
        DELETE FROM tb_eventcomment WHERE evc_no = #{evc_no} AND evc_commenter = #{evc_commenter}
    </delete>

    <!-- ====================== 답글n개 삭제(댓글 삭제 후 답글이 있을 경우 삭제) =========================-->
    <delete id="deleteRepComment" parameterType="java.lang.Integer">
        DELETE FROM tb_eventcomment WHERE evc_pcno = #{evc_no}
    </delete>

    <!-- ====================== 댓글 수정 =========================-->
    <update id="updateComment" parameterType="eventCommentDto">
        UPDATE tb_eventcomment
        SET evc_comment = #{evc_comment}
          , evc_cdate = sysdate
        WHERE evc_no = #{evc_no} and evc_commenter = #{evc_commenter}
    </update>
</mapper>