<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.nbw.event.dao.EventMapper">
        <select id="select" parameterType="int" resultType="eventDto">
            Select ev_no, ev_title, ev_content, ev_cdate, ev_file, ev_start, ev_end, ev_people
                , ev_status, ev_nowpeople, ev_target, ev_place, ev_img, ev_time, ev_today, ev_phone
            FROM tb_event
            WHERE ev_no = #{ev_no}
        </select>

        <select id="count" resultType="int">
            SELECT count(*) FROM tb_event
        </select>

        <delete id="deleteAll">
            DELETE FROM tb_event
        </delete>

        <delete id="delete" parameterType="map">
            DELETE FROM tb_event WHERE ev_no = #{ev_no}
        </delete>

        <insert id="insert" parameterType="eventDto">
            INSERT INTO tb_event
                (ev_title, ev_content)
            VALUES
                (#{ev_title}, #{ev_content}
        </insert>

        <select id="selectAll" resultType="eventDto">
            SELECT ev_no, ev_title, ev_content, ev_cdate, ev_file, ev_start, ev_end, ev_people
                , ev_status, ev_nowpeople, ev_target, ev_place, ev_img, ev_time, ev_today, ev_phone
            FROM tb_event
            ORDER BY ev_cdate DESC, ev_no DESC
        </select>

        <sql id="selectFromEvent">
            SELECT ev_no, ev_title, ev_content, ev_cdate, ev_file, ev_start, ev_end, ev_people
                , ev_status, ev_nowpeople, ev_target, ev_place, ev_img, ev_time, ev_today, ev_phone
            FROM tb_event
        </sql>

<!--        <select id="select" parameterType="int" resultType="eventDto">-->
<!--            <include refid="selectFromEvent"/>-->
<!--            WHERE ev_no = #{ev_no}-->
<!--        </select>-->

        <select id="selectPage" parameterType="map" resultType="eventDto">
            <include refid="selectFromEvent"/>
            ORDER BY ev_cdate DESC, ev_no DESC
            LIMIT #{offset}, #{pageSize}
        </select>

        <update id="update" parameterType="eventDto"> /* 수정일 컬럼을 따로 만들어서 해야할까? cdate에 업데이트 하게 해야하나? */
            UPDATE tb_event
            SET   ev_title = #{ev_title}
                , ev_content = #{ev_content}
                , ev_file = #{ev_file}
                , ev_start = #{ev_start}
                , ev_end = #{ev_end}
                , ev_people = #{ev_people}
                , ev_status = #{ev_status}
                , ev_nowpeople = #{ev_nowpeople1}
                , ev_target = #{ev_target}
                , ev_place = #{ev_place}
                , ev_img = #{ev_img}
                , ev_time = #{ev_time}
                , ev_phone = #{ev_phone}
            WHERE ev_no = #{ev_no}
        </update>

        <update id="updateCommentCnt" parameterType="map">
            UPDATE board
            SET   ev_cocnt = ev_cocnt + #{cnt}
            WHERE ev_no = #{ev_no}
        </update>

        <update id="increaseViewCnt" parameterType="int">
            UPDATE board
            SET   view_cnt = view_cnt + 1
            WHERE bno = #{bno}
        </update>

<!--        <sql id="searchCondition">-->
<!--            <choose>-->
<!--                <when test='option=="T"'>-->
<!--                    AND title LIKE concat('%', #{keyword}, '%')-->
<!--                </when>-->
<!--                <when test='option=="W"'>-->
<!--                    AND writer LIKE concat('%', #{keyword}, '%')-->
<!--                </when>-->
<!--                <otherwise>-->
<!--                    AND (title   LIKE concat('%', #{keyword}, '%')-->
<!--                    OR   content LIKE concat('%', #{keyword}, '%'))-->
<!--                </otherwise>-->
<!--            </choose>-->
<!--        </sql>-->

        <select id="searchSelectPage" parameterType="SearchCondition" resultType="eventDto">
            SELECT ev_no, ev_title, ev_content, evc_cdate
            FROM  tb_event
            WHERE true
            <include refid="SearchCondition"/>
            ORDER BY ev_cdate DESC, ev_no DESC
            LIMIT #{offset}, #{pageSize}
        </select>

        <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
            SELECT count(*)
            FROM  tb_event
            WHERE true
            <include refid="SearchCondition"/>
        </select>
    </mapper>