<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.nbw.login.dao.loginMapper">

	<select id="selectUserId" parameterType="String" resultType="boolean">
		SELECT COUNT(MEM_ID) 
		  FROM TB_MEMBER
		 WHERE MEM_ID = #{value}
	</select>
	
	<select id="selectUserEmail" parameterType="find" resultType="boolean">
		SELECT COUNT(MEM_EMAIL) 
		  FROM TB_MEMBER
		 WHERE MEM_ID = #{mem_id}
		 AND MEM_EMAIL = #{mem_email}
	</select>

	<select id="selectUserPassword" parameterType="String" resultType="String">
		SELECT MEM_PW FROM TB_MEMBER WHERE MEM_ID = #{value}
	</select>

	<select id="selectUser" parameterType="String" resultType="member">
		SELECT MEM_ID, MEM_NAME, MEM_PHONE, MEM_ZIPCODE, MEM_ADDRESS1, MEM_ADDRESS2, MEM_CDATE, MEM_GENDER, MEM_BIRTHDAY, 
		MEM_TPRICE, MEM_EMAIL, a.G_GRADE, MEM_POINT, MEM_NICKNAME, G_DISCOUNT, COUPON_COUNT
		FROM TB_MEMBER a, (SELECT COUNT(CP_NO) as COUPON_COUNT FROM TB_COUPONZIP) b, TB_MEMBERSHIP c
		WHERE a.G_GRADE = c.G_GRADE(+)
		AND a.MEM_ID = #{value}
	</select>
	 
	<select id="findId" parameterType="find" resultType="find">
		SELECT MEM_ID,MEM_CDATE FROM TB_MEMBER 
		WHERE MEM_NAME = #{mem_name} AND MEM_EMAIL = #{mem_email}
		AND (MEM_ID NOT LIKE '%NAVER_%' AND MEM_ID NOT LIKE '%KAKAO_%')
	</select>
	
	<update id="updateUserPassword" parameterType="find">
		UPDATE TB_MEMBER
		SET MEM_PW = #{mem_pw}
		WHERE MEM_ID = #{mem_id} AND MEM_EMAIL = #{mem_email}
	</update>
</mapper>