<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalpj.nbw.member.dao.MemberDao">

	<select id="selectMemeber" parameterType="String" resultType="member">
		SELECT * FROM tb_MEMBER WHERE MEM_ID = #{value}
	</select>

<!--  ================= *회원 가입* ================= -->
    <insert id="insertMember">
        INSERT INTO TB_MEMBER (
                               MEM_ID
                               , MEM_PW
                               , MEM_NAME
                               , MEM_PHONE
                               , MEM_ZIPCODE
                               , MEM_ADDRESS
                               , MEM_ADDRESS2
                               , MEM_GENDER
                               , MEM_CDATE
                               , MEM_BIRTHDAY
                               , MEM_EMAIL
                               )
        VALUES (
                #{mem_id}
                ,#{mem_pw}
                ,#{mem_name}
                ,#{mem_phone}
                ,#{mem_zipcode}
                ,#{mem_address}
                ,#{mem_address2}
                ,#{mem_gender}
                , sysdate
                ,#{mem_birthday}
                ,#{mem_email}
                )
    </insert>

    <!--  ================== *ID 중복 체크* ==================  -->
    <select id="selectIdCheck" resultType="java.lang.String">
        SELECT mem_id from tb_member WHERE mem_id = #{mem_id}
    </select>

    <!--  ================== *회원 정보 수정* ==================  -->
    <update id="updateMyInfo" parameterType="member">
        UPDATE tb_member
        SET  mem_zipcode = #{mem_zipcode}
            ,mem_address = #{mem_address}
            ,mem_address2 = #{mem_address2}
            ,mem_email = #{mem_email}
            ,mem_update = sysdate
        WHERE mem_id = #{mem_id}
    </update>

</mapper>