<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalpj.nbw.notice.dao.NtCommentMapper">
    <!-- ============================= 공지글 댓글 모두 삭제 ==============================-->
    <delete id="deleteAll" parameterType="int">
        DELETE FROM tb_noticecomment
        WHERE  nt_no = #{nt_no}
    </delete>
    <!-- ============================ 댓글 개수 조회 ===============================-->
    <select id="count" parameterType="int" resultType="int">
        SELECT count(*) FROM tb_noticecomment
        WHERE  nt_no = #{nt_no}
    </select>

    <!-- ====================== 댓글 삭제(일치하는 작성자만) =========================-->
    <delete id="delete" parameterType="map">
        DELETE FROM tb_noticecomment WHERE ntc_no = #{ntc_no} AND ntc_commenter = #{ntc_commenter}
    </delete>

    <!-- ============================= 댓글 등록 =================================-->
    <insert id="insert" parameterType="ntCommentDto">
        INSERT INTO tb_noticecomment
            (ntc_no, nt_no, ntc_pcno, ntc_comment, ntc_commenter)
        VALUES
            (SEQ_NTC_NO.NEXTVAL,#{nt_no}, #{ntc_pcno, jdbcType=INTEGER}, #{ntc_comment}, #{ntc_commenter})
    </insert>
    <!-- ============================= 대댓글 리스트 조회 =================================-->
    <select id="selectAll" parameterType="int" resultType="ntCommentDto">
        SELECT ntc_no, nt_no, NVL(ntc_pcno,ntc_no) as ntc_pcno, ntc_comment, ntc_commenter, ntc_cdate, ntc_update
        FROM tb_noticecomment
        WHERE nt_no = #{nt_no}
        ORDER BY  ntc_pcno asc, ntc_no asc
    </select>
    <!-- =========================== 댓글 한 건 조회 ==============================-->
    <select id="select" parameterType="int" resultType="ntCommentDto">
        SELECT ntc_no, nt_no, ntc_pcno, ntc_comment, ntc_commenter, ntc_cdate, ntc_update
        FROM tb_noticecomment
        WHERE ntc_no = #{ntc_no}
    </select>
    <!-- ====================== 댓글 수정(일치하는 작성자만) =========================-->
    <update id="update" parameterType="ntCommentDto">
        UPDATE tb_noticecomment
        SET ntc_comment = #{ntc_comment}
        , ntc_cdate = sysdate
        WHERE ntc_no = #{ntc_no} and ntc_commenter = #{ntc_commenter}
    </update>
</mapper>