<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.productMapper">

	<select id="getProduct" parameterType="String" resultType="com.finalpj.nbw.product.domain.Product">
		SELECT * FROM tb_PRODUCT WHERE p_no = #{value}
	</select>
	
</mapper>