<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.cartMapper">
    <insert id="insertQuestion">
        INSERT INTO TB_QUESTION (
                                QN_NO
                                , QN_FROM
                                , QN_CATEGORY
                                , QN_CDATE
                                , QN_CONTENT
                                , QN_STATE
                                , QN_TITLE
        )
        VALUES (
                   #{QN_NO}
               , #{QN_FROM}
               , #{QN_CATEGORY}
               , #{QN_CDATE}
               , #{QN_CONTENT}
               , #{QN_STATE}
               , #{QN_TITLE}
               )
    </insert>
</mapper>